<h2>Books</h2>
<table class="table">
      <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
        </tr>
    </thead>
<% books.each do |book| %>
<tbody>
  <td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
  
  <td>Title：<%= link_to book_path(book.id) do %><%= book.title %><% end %></td>

  <td>Opinion：<%= book.body %></td>
</tbody>

<% end %>
</table>
<%= paginate books %>